.logo:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.active:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container {
    position: static;
    text-align: center;
    color: white;
}
   .img{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
   }

   .img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}


   .navbar {
  overflow: auto;
  background-color: none;
  position: fixed;
  top: 0;
  width: 75%;
  margin-left: 5%;
}

.navbar a {
  float: left;
  color: #4169E1;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #1E90FF;
  color: black;
}

    h1 {text-align:center; font-family: "Essays 1743"; position: relative;}
    }
    .fontBeautiful{
        font-family: "Essays 1743" "Palatino Linotype", "Book Antiqua", Georgia, "Times New Roman", serif;
        font-weight: normal;
        text-transform: uppercase;
        text-shadow: 0 0 1px #667;
    }

    ul {


    background-color: #FFD700;
}

nav {
  width: 100%;
  top: -100px;
  position: fixed;
}

    nav ul ul {
          display: none;
          position: absolute;
          top: 100%;
      }
      

      nav ul li:hover > ul {
          display:inherit;
          color: #4169E1

      }
      
    
      nav ul ul li {
          min-width:170px;
          float:none;
          display:list-item;
          position: relative;
      }

      nav {
          margin: 100px 0;
          background-color: #none;
      }
      
  
      nav ul {
          padding:0;
          margin:0;
          list-style: none;
          position: relative;
          }
      
    
      nav ul li {
          margin: 0px -7px 0 0;
          display:inline-block;
          background-color: none;
          }
      
  
      nav a {
          display:block;
          padding:0 10px;
          color:#0000CD;
          font-size:20px;
          line-height: 60px;
          text-decoration:none;
      }
      
     
      nav a:hover {
          background-color:#87CEEB;
    }

          nav a:hover {
          background-color:none;
    }

h1.HN{
  margin-top: 70px;
  background-color: #EEE5DE;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  animation-duration: 2.5s;
  animation-name: slidein;
}


  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 100%; 
    }
    to {
      margin-left: 0%;
      width: 100%;
    }
  }



    article.news1{
      border:3px solid #FFD700;
      margin-left:30px;
      margin-top: 50px;
      background-color: #ADD8E6;
      float: left;
      width: 30%;
    }

.news1:hover {
   box-shadow:
    1px 1px #C6E2FF,
    2px 2px #C6E2FF,
    3px 3px #C6E2FF,
    4px 4px #C6E2FF,
    5px 5px #C6E2FF,
    6px 6px #C6E2FF,
    7px 7px #C6E2FF;
  -webkit-transform: translateX(-7px);
  transform: translateX(-7px);
}
 
    h2.news_1{
   text-align: center;
    }

 article.news2{
      border:3px solid #FFD700;
      margin-left:30px;
      margin-top: 50px;
      background-color: #ADD8E6;
      float: left;
      width: 30%;
    }

.news2:hover {
   box-shadow:
    1px 1px #C6E2FF,
    2px 2px #C6E2FF,
    3px 3px #C6E2FF,
    4px 4px #C6E2FF,
    5px 5px #C6E2FF,
    6px 6px #C6E2FF,
    7px 7px #C6E2FF;
  -webkit-transform: translateX(-7px);
  transform: translateX(-7px);
}

    h2.news_2{
      text-align: center;
    }

     article.news3{
      border:3px solid #FFD700;
      margin-left:30px;
      margin-top: 50px;
      background-color: #ADD8E6;
      float: left;
      width: 30%;
    }

.news3:hover {
   box-shadow:
    1px 1px #C6E2FF,
    2px 2px #C6E2FF,
    3px 3px #C6E2FF,
    4px 4px #C6E2FF,
    5px 5px #C6E2FF,
    6px 6px #C6E2FF,
    7px 7px #C6E2FF;
  -webkit-transform: translateX(-7px);
  transform: translateX(-7px);
}

    h2.news_3{
      text-align: center;
    }

         article.news4{
      border:3px solid #FFD700;
      margin-left:120px;
      margin-top: 50px;
      background-color: #ADD8E6;
      float: left;
      width: 80%;
    }

.news4:hover {
   box-shadow:
    1px 1px #C6E2FF,
    2px 2px #C6E2FF,
    3px 3px #C6E2FF,
    4px 4px #C6E2FF,
    5px 5px #C6E2FF,
    6px 6px #C6E2FF,
    7px 7px #C6E2FF;
  -webkit-transform: translateX(-7px);
  transform: translateX(-7px);
}

    h2.news_4{
      text-align: center;
    }

.footer {
    position: static;
    left: 0;
    background-color: none;
    color: none;
    text-align: left;
}

